html, body {
    scroll-behavior: smooth;
    background-color: rgb(31,29,30,255);
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* General Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    background-color: rgba(31,29,30,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.logo {
    width: 90px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    transition: color 0.3s;
}

.orange-bg {
    background-color: #ff8800;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
}
ul{
    list-style: none;
}
.nav-item a:hover {
    color: #ff8800;
}

/* Sections */
#home, .presentation, .services, .plans, .about-us, .testimonials {
    width: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
}

#home, .presentation {
    background-image: url('https://github.com/LuceroObispoRios/Grupo1_WS52/blob/main/Proyecto/image/fondo.jpeg?raw=true');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.presentation-box {
    background-color: rgba(200, 149, 0, 0.7);
    padding: 30px;
    border-radius: 20px;
    max-width: 600px;
    text-align: center;
}

.services {
    background-color: #1f1e1e;
}

.service-box {
    background-color: #ff8800;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    text-align: center;
    color: #000;
    transition: transform 0.3s;
    cursor: pointer;
}

.service-box:hover {
    transform: scale(1.05);
}

.service-icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.read-more {
    padding: 10px;
    background-color: #D6A049;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}

/* Plans */
.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31,29,30,255);
}

.plans .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.plans .card {
    flex: 1 1 calc(33% - 40px);
    background-color: #333;
    color: #fff;
    border-radius: 15px;
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plans .stripe {
    height: 20px;
}

.plans .stripe.standard {
    background-color: rgba(255, 149, 0, 0.7);
}

.plans .stripe.pro {
    background-color: rgba(255, 149, 0, 0.7);
}

.plans .stripe.premium {
    background-color: rgba(255, 149, 0, 0.7);
}

.plans .card-content {
    padding: 20px;
    text-align: left;
}

.plans .custom .card-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.arrow {
    font-size: 4em;
    padding-top: 55px;
}

.subscribe {
    border-radius: 15px;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

/* About Us */
.about-us {
    background-color: rgb(252, 252, 252);
    text-align: center;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
}

.about-content h2 {
    color: rgb(214, 160, 73);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.about-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.about-image {
    width: 200px;
    height: 200px;
    background-image: url('https://github.com/LuceroObispoRios/Grupo1_WS52/blob/main/Proyecto/image/logo1.png?raw=true');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 10px;
}

.about-text {
    background-color: rgb(31,29,30,255);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 250px;
}

/* Testimonials */
.testimonials {
    background-color: #fff;
    text-align: center;
}

.testimonials h2 {
    color: #948787;
}

.testimonial-box {
    background-color: #3e3e3e;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    color: #fff;
}

.testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #1f1e1e;
    color: #fff;
    padding: 30px 0;
    text-align: center;

}

footer .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}


footer .col-md-3 a img {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;

}
